th, td {
  font-weight: 100;
  padding: 7px 40px 7px 0;
}

td {
  border-top: 1px solid #d9dadc;
}

thead {
  color: #c1c3c6;
  border-bottom: 2px solid grey;
  font-size: 12px;
  text-transform: uppercase;
}

ul {
  list-style: url('/img/musicoin-favicon.png');
}
