.bg-grey {
  background: #F8F8F8;
}

.null {
  clear: both!important;
}
.justify{
  text-align: justify!important;
}
.ligth{
  font-weight: lighter!important;
}
.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
}

.inverted{color:#FFFFFF;background:#010101}.inverted h1,.inverted h2,.inverted h3,.inverted h4,.inverted h4,.inverted h5,.inverted p,.inverted span{color:#FFFFFF}
.inverted-green{color:#FFFFFF;background:#ffd400}.inverted-green h1,.inverted-green h2,.inverted-green h3,.inverted-green h4,.inverted-green h4,.inverted-green h5,.inverted-green p,.inverted-green span{color:#FFFFFF}

.gradiant-text {
  display: inline-block;
  color: rgb(245, 145, 42)!important;
  /* background: -webkit-linear-gradient(right, rgb(245, 145, 42), rgb(245, 145, 42)) text!important;
  -webkit-text-fill-color: transparent!important; */
  background: -webkit-linear-gradient(45deg, #F9D426, #f26a2b 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.isGradient {
  background: -webkit-linear-gradient(45deg, #fbbe0e, #ea611d 98%);
  background-size: 100% 100%;
  -webkit-animation: Gradient 15s ease infinite!important;
  -moz-animation: Gradient 15s ease infinite!important;
  animation: Gradient 15s ease infinite!important;
  color: #FFF!important;
}
.mauto {
  margin: auto!important;
}

.mt20 {
  margin-top: 20px;
}
.mht {
  margin-top: 150px;
}
.eotYOT {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0px 0px 0.8em;
}

.font-light {
  font-weight: 100;
}
.overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
}


/* LOGIN */

.form-signin input {
  border: 1px solid white;
  background: transparent;
  color: white;
  min-height: 45px;
}

.form-signin .form-control:focus {
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
}

/* Change the white to any color ;) */
.form-signin input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

/*Change text in autofill textbox*/
.form-signin input:-webkit-autofill {
  -webkit-text-fill-color: #343434 !important;
}
.btn-white {
  background: white!important;
  color: #343434!important;
  font-weight: bold;
}

.form-signin ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

.form-signin :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  opacity: 0.5; /* Firefox */
}

.form-signin ::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  opacity: 0.5; /* Firefox */
}

/* SOCIAL LINKS */
.social-icon {
  text-align: center!important;
}

.social-icon {
  margin-top: 1.5em;
  list-style: none;
  /* margin: 0; */
  padding: 0;
}

.social-icon li {
  display: inline-block;
  padding-right: .5em;
}

.social-icon li:last-child { padding-right: 0; }

.social-icon li a {
  display: inline-block;
  line-height: 40px;
  color: #fff;
  border: 2px solid white;
  /* box-shadow: 0 0 2px 0 #f8e71c; */
  border-radius: 50%;
    /* text-transform: uppercase; */
    padding: 18px;
    font-weight: bold;
    font-size: 20px;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  text-decoration: none!important;
  width: 60px;
  height: 60px;
}

.social-icon li a:hover { background: #FFF; color: #343434; border: 1px solid white; }

.tard {
  text-align: right;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.mt80 {
  margin-top: 80px;
}
.mb40 {
  margin-bottom: 40px;
}

.fleft {
  float: left;
}
.fright {
  float: right;
}
.txr {
  text-align: right;
}
.footer-icon-musicoin {
  text-align: right;
}

.fio {

}
.fit{
 text-align: center;
}
.fitr{
  text-align: right;
}
.fitf {

}
/* ==========================================================================
   Small devices (tablets, 768px and up)
   ========================================================================== */

   @media (max-width: 768px) {
    /* h1, h2, h3 {
      text-align: center;
    } */

    .center-mobile {
      text-align: center;
    }
    .center-mobile li {
      text-align: center!important;
    }

    .footer-icon {
      text-align: center!important;
    }

    .mht {
      margin-top: 100px;
    }
    .logo, .social { text-align: center; }
    .macr {
      text-align: center;
    }
    .right-links {
      text-align: center!important;
  }
    aside {
      margin-top: 50px;
    }
    .lefQSH {
      font-style: normal;
      font-weight: 900;
      line-height: 54px;
    }
    .hBwQAi {
      font-size: 62px;
      color: rgb(255, 255, 254);
      margin: 0px;
    }

   }
